<a href="https://colab.research.google.com/github/Napat032/PythonLAB3/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]
y = 0
i = 0
while i < len(list1):
    x = list1[i]
    if x % 2 == 0:
        y += x
    i += 1
print(y)

20

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [4]:
list = [-5, 7, 10, 1, 2, 5, 8, 100]
i = 0
size = len(list)
while i < size:
    j = 0
    while j < size - 1:
        if list[j] > list[j+1]:
            list[j], list[j+1] = list[j+1], list[j]
        j += 1
    i += 1
# print(list)
answer = list[-2]
print(answer)

10

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [5]:
n = int(input("Enter n: "))
# print(n)
# print(type(n))
i = 1
result = 0

while i <= n:
    # print(i)
    result += 1/i**2
    i += 1
print("n = ", result)

Enter n: 5
n =  1.4636111111111112

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [6]:
s1 = [1,2,3,4,5]
s2 = [5,4,3,2,1]
size1 = len(s1)
size2 = len(s2)

for x1 in range(size1-1):
    if s1[x1] < s1[x1+1]:
        print("s1 = ", True)
        break
    else:
        print("s1 = ", False)
        break

for x2 in range(size2-1):
    if s2[x2] < s2[x2+1]:
        print("s2 = ", True)
        break
    else:
        print("s2 = ", False)
        break

s1 =  True
s2 =  False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [7]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]
newlst = []
size_x = len(x)

for i in range(size_x):
    # print(i)
    if x[i] < 30:
        plus10percent = x[i]*10/100
        plus10percent += x[i]
        newlst.append(plus10percent)
    else:
        newlst.append(x[i])
print("old list", x)
print("new list", newlst)

old list [60, 70, 72, 65, 55, 43, 20, 90, 12]
new list [60, 70, 72, 65, 55, 43, 22.0, 90, 13.2]

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [16]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]
size = len(x)
# print(x)
for i in x:
    for j in range(size-1):
        if x[j] > x[j+1]:
            x[j], x[j+1] = x[j+1], x[j]

# print(x)
del x[1]
# print(x)
sumvalue = 0
for i in x:
    sumvalue += i
print("Sum in list not include 2nd leastest numbers =", sumvalue)

Sum in list not include 2nd leastest numbers = 491

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [17]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
new_lst = []
print("old list :", lst)
for x in lst:
    if len(x) >= 3 and x[0] == x[-1]:
        new_lst.append(x)
print("new list :", new_lst)

list_size = len(new_lst)
for i in range(list_size):
    for j in new_lst[i]:
        print(j)

old list : ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
new list : ['abba', 'alcaza', 'stores', 'execute']
a
b
b
a
a
l
c
a
z
a
s
t
o
r
e
s
e
x
e
c
u
t
e

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [18]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']
new_lst = []
for x in lst:
    if x not in new_lst:
        new_lst.append(x)
print("old list :", lst)
print("new list :", new_lst)

old list : ['a', 'a', 'b', 'a', 'b', 'c', 'd']
new list : ['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [27]:
lst = [1, 2, 3, 4, 1, 2, 3, -1, 2, 1, 1, 4,]
number = []
count = []
# print(lst)

for x in lst:
    if x in number:
        index = number.index(x)
        count[index] += 1
    else:
        number.append(x)
        count.append(1)

for i in range(len(number)):
    print(f"{number[i]} = {count[i]}")

1 = 4
2 = 3
3 = 2
4 = 2
-1 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [29]:
n = int(input("Enter n: "))
ADDER = 5
i = 1
n_sum = 0
result = 0
text = ""
while i <= n:
    n_sum += ADDER
    result += n_sum
    text += str(n_sum)+"+"
    i += 1
print(text[:-1], "=", result)

Enter n: 5
5+10+15+20+25 = 75

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [30]:
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [12]:
x = [1, 5, 4, 2, 1]
count = 0
size = len(x)
n = 0
for n in range(size):
    # print("n = ",n)
    # print(x[n+1:])
    for j in x[n+1:]:
        if x[n] > j:
            count += 1
            # print(str(x[n])+">"+str(j))
            j += 1
print("ALL = ", count)

ALL =  6

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [31]:
text = "klfjslkgD;FGK;LSDKdl;gfk;"
lower = []
upper = []

for x in text:
    if x.islower():
        lower.append(x)
    if x.isupper():
        upper.append(x)
print("Lower case", len(lower), ":", "".join(lower))
print("Upper case", len(upper), ":", "".join(upper))

Lower case 13 : klfjslkgdlgfk
Upper case 8 : DFGKLSDK

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [32]:
for x in range(1000, 3001):
    for i in range(len(str(x))):
        if int(str(x)[i])%2 != 0:
            break
    else:
        print(x, end=',')

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [33]:
num1 = 678
num2 = 345

print(num1, end=' ')
print(num2, end=' = ')
while num2 != 0:
    temp = num2
    num2 = num1 % num2
    num1 = temp

print(num1)

678 345 = 3

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [25]:
x = int(input("Enter X: ", ))
i = 0
j = ""
text_sum = 0
text = ""

if 0 < x <= 9:
  for i in range(4):
      j += str(x)
      text += j+"+"
      text_sum += int(j)
  print(text_sum, "(=",text[:-1], ")", sep='')
else:
  print("Invalid Value")

Enter X: 9
11106(=9+99+999+9999)

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [34]:
roman = "MMMDCCXXIV"
arabic = 0
prev_value = 0

for x in reversed(roman):
    if x == 'I':
        value = 1
    elif x == 'V':
        value = 5
    elif x == 'X':
        value = 10
    elif x == 'L':
        value = 50
    elif x == 'C':
        value = 100
    elif x == 'D':
        value = 500
    elif x == 'M':
        value = 1000

    if value < prev_value:
        arabic -= value
    else:
        arabic += value
    prev_value = value
print(arabic)

3724

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [35]:
a = 0
b = 1
list = [a, b]

for i in range(20):
    c = a+b
    list.append(c)
    a = b
    b = c
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

In [36]:
your_name = "Krystie Lee Yandoli"
lover_name = "Aubrey Drake Graham"

total_name = your_name.lower() + lover_name.lower()

check_true = "true"
check_love = "love"

check1 = 0
check2 = 0
for i in total_name:
    if i in check_true:
        check1 += 1
for i in total_name:
    if i in check_love:
        check2 += 1

print(str(check1)+str(check2))

118